
*.xcworkspacedata

*.xcworkspacedata

*.xcworkspacedata

GalleryView/GalleryView.xcodeproj/project.xcworkspace/contents.xcworkspacedata

*.xcuserstate

GalleryView/GalleryView.xcodeproj/xcuserdata/sauravnagpal.xcuserdatad/xcschemes/GalleryView.xcscheme

GalleryView/GalleryView.xcodeproj/project.xcworkspace/xcuserdata/sauravnagpal.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

GalleryView/GalleryView.xcodeproj/xcuserdata/sauravnagpal.xcuserdatad/xcschemes/GalleryView.xcscheme

*.xcscheme

GrandCentralDispatchExample/GrandCentralDispatchExample.xcodeproj/xcuserdata/sauravnagpal.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcbkptlist

GrandCentralDispatchExample/GrandCentralDispatchExample.xcodeproj/project.xcworkspace/xcuserdata/sauravnagpal.xcuserdatad/WorkspaceSettings.xcsettings

GalleryView/GalleryView.xcodeproj/project.xcworkspace/xcuserdata/sauravnagpal.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscheme

GalleryView/GalleryView.xcodeproj/xcuserdata/sauravnagpal.xcuserdatad/xcschemes/xcschememanagement.plist

GalleryView/GalleryView.xcodeproj/xcuserdata/sauravnagpal.xcuserdatad/xcschemes/GalleryView.xcscheme

GalleryView/GalleryView.xcodeproj/project.xcworkspace/xcuserdata/sauravnagpal.xcuserdatad/UserInterfaceState.xcuserstate

GalleryView/GalleryView.xcodeproj/project.xcworkspace/xcuserdata/sauravnagpal.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcscheme

GalleryView/GalleryView.xcodeproj/project.xcworkspace/xcuserdata/sauravnagpal.xcuserdatad/UserInterfaceState.xcuserstate

*.xccheckout

*.xcscheme

*.xcuserstate

FaceGestureSample/FaceGestureSample.xcodeproj/xcuserdata/saurav.nagpal.xcuserdatad/xcschemes/xcschememanagement.plist

FaceGestureSample/FaceGestureSample.xcodeproj/xcuserdata/sauravnagpal.xcuserdatad/xcschemes/xcschememanagement.plist

A-TeamClient/A-TeamClient.xcodeproj/xcuserdata/sauravnagpal.xcuserdatad/xcschemes/xcschememanagement.plist

PDFReadingSample/PDFReadingSample.xcodeproj/project.xcworkspace/xcuserdata/sauravnagpal.xcuserdatad/WorkspaceSettings.xcsettings

PDFReadingSample/PDFReadingSample.xcodeproj/xcuserdata/sauravnagpal.xcuserdatad/xcschemes/xcschememanagement.plist

PDFReadingSample/PDFReadingSample.xcodeproj/xcuserdata/saurav.nagpal.xcuserdatad/xcschemes/xcschememanagement.plist

NSOperationQueueAsynRequest/NSOperationQueueAsynRequest.xcodeproj/project.xcworkspace/xcuserdata/saurav.nagpal.xcuserdatad/WorkspaceSettings.xcsettings

NSOperationQueueAsynRequest/NSOperationQueueAsynRequest.xcodeproj/xcuserdata/saurav.nagpal.xcuserdatad/xcschemes/xcschememanagement.plist

SNSideMenu/SNSideMenu.xcodeproj/xcuserdata/saurav.nagpal.xcuserdatad/xcschemes/xcschememanagement.plist
