<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Sample1</string>
		<key>FileName</key>
		<string>Sample</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sample2</string>
		<key>FileName</key>
		<string>Sample</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sample3</string>
		<key>FileName</key>
		<string>Sample</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sample4</string>
		<key>FileName</key>
		<string>Sample.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sample5</string>
		<key>FileName</key>
		<string>Sample.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sample6</string>
		<key>FileName</key>
		<string>Sample.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sample7</string>
		<key>FileName</key>
		<string>Sample.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Sample8</string>
		<key>FileName</key>
		<string>Sample.pdf</string>
	</dict>
</array>
</plist>
