<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Queue</string>
		<key>FileName</key>
		<string>Queue.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Reader</string>
		<key>FileName</key>
		<string>Reader.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>AFFIDAVIT</string>
		<key>FileName</key>
		<string>AFFIDAVIT.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>blood-donation</string>
		<key>FileName</key>
		<string>blood-donation.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>CoinChange</string>
		<key>FileName</key>
		<string>CoinChange.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>LinkedListBasics</string>
		<key>FileName</key>
		<string>LinkedListBasics.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Pledge-Against-CORRUPTION</string>
		<key>FileName</key>
		<string>Pledge-Against-CORRUPTION.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Pledge-Against-Dowry</string>
		<key>FileName</key>
		<string>Pledge-Against-Dowry.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Pledge-For-Child-Adoption-Ok</string>
		<key>FileName</key>
		<string>Pledge-For-Child-Adoption-Ok.pdf</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Pledge-Quit-Homosexuality</string>
		<key>FileName</key>
		<string>Pledge-Quit-Homosexuality.pdf</string>
	</dict>
</array>
</plist>
