<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Gallery Preview</string>
	<string>Text Reading</string>
	<string>Chats</string>
	<string>Game</string>
</array>
</plist>
